#!/bin/sh

figlet -w 200 -f slant Welcome to DevEnv

cat <<EOF

  Now, you need to start all required services manually or run this command to start all of them in a tmux session.

  $ tmuxinator start devenv

  You can move between windows with Ctrl+b + [0,5]:

  Happy hacking! :D

EOF
